            @import url('https://fonts.googleapis.com/css?family=Rock+Salt');
            .content {
                width: 80%;
                max-width: 960px;
                margin: 0 auto;
            }
                
            body { 
                font-family: Arial, Helvetica, sans-serif;
            }
            
            #logo{
                position: relative;
            }
            
            img{
                max-width: 100%;
            }
            
            h1, h2, h3, h4, h5, h6 {
                color: #85C1E9;
                font-family: "Rock Salt", serif;
                text-align: center:
            }
          
            /* Navigation Bar CSS */
            .nav {
                line-height: 3em;
                background-color: #85C1E9;
                margin-top: -100px;
            }
            
            .nav ul li {
                list-style: none; 
            }
            .nav ul {
                list-style-type: none;
                margin-bottom: 0;
                margin-left: 7em;
                padding: auto;
                overflow: hidden;
            }
            a:link,a:visited{
                display: block;
                color: #FFFFFF;
                width: 120px;
                text-align: center;
                padding: 6px;
                text-transform: uppercase;
                text-decoration: none;
            }
            a:hover,a:active{
                background-color: #34495E;
            }
            .nav li {
                float: left;
            }
            
            /* Social Icons CSS */
            .social {
                line-height: 3em;
                background-color: none;
            }
            .social ul li{
                list-style: none;
            }
            .social ul{
                list-style-type: none;
                margin-bottom: 0;
                margin-left: 7em;
                padding: auto;
                overflow: hidden;
            }
            b:hover,b:active{
                background-color: none;
            }
            b:link,b:visited{
                display: block;
                color: none;
                width: 120px;
            }
            .social li{
                float: right;
            }
            /* End of Social Icons CSS */
            
            section {
                padding: 25px;
            }
            
            #banner img {
                width: 100%;
            }
            
            #top-row, #middle-row {
                display:flex;
                flex-flow: row wrap;
                align-items: center;
                justify-content: space-between;
            }
            
            .rightcol, .leftcol{
                flex: 1 0 15em;
                margin: .5em;
                
            }
            
            #middle-row {
                align-content: right;
                margin-left: @ auto;
                border: none;
                padding: 90px;
            }
            
            #bottom-row{
                align-content: center;
                margin-right: 50px;
                border: none;
                padding: 4px;
            }
            
            p{
                line-height: 1.5;
                color: white;
            }
            
            footer {
                background-color: none;
                box-sizing: auto;
                align-content: center;
            }